<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CarBatteryAccounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CarBatteryAccounter.Properties.Settings.myConnectionString"
            connectionString="Driver={Microsoft dBASE Driver (*.dbf)};DriverID=277;Dbq=data\\db;" />
    </connectionStrings>
    <userSettings>
        <CarBatteryAccounter.Properties.Settings>
            <setting name="tableName" serializeAs="String">
                <value>acc_.dbf</value>
            </setting>
        </CarBatteryAccounter.Properties.Settings>
    </userSettings>
</configuration>