<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarBatteryAccounter.Properties.Settings.myConnectionString"
            connectionString="Driver={Microsoft dBASE Driver (*.dbf)};DriverID=277;Dbq=d:\\f;" />
    </connectionStrings>
</configuration>