<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CarBatteryAccounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CarBatteryAccounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CarBatteryAccounter.Properties.Settings.myConnectionString"
            connectionString="Driver={Microsoft dBASE Driver (*.dbf)};DriverID=277;Dbq=data\\db;" />
    </connectionStrings>
    <applicationSettings>
        <CarBatteryAccounter.Properties.Settings>
            <setting name="tableName" serializeAs="String">
                <value>acc_.dbf</value>
            </setting>
            <setting name="carTableName" serializeAs="String">
                <value>spr_pds.dbf</value>
            </setting>
            <setting name="battaryTableName" serializeAs="String">
                <value>akkum.DBF</value>
            </setting>
            <setting name="carTablePath" serializeAs="String">
                <value>c:\\1f\\</value>
            </setting>
            <setting name="battaryTablePath" serializeAs="String">
                <value>c:\\2f\\</value>
            </setting>
        </CarBatteryAccounter.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CarBatteryAccounter.Properties.Settings>
            <setting name="myConnectionString2" serializeAs="String">
                <value>Provider=vfpoledb;Data Source=data\db\;Collating Sequence=machine;</value>
            </setting>
        </CarBatteryAccounter.Properties.Settings>
    </userSettings>
</configuration>